.ReactModal__Overlay {
	opacity: 0;
	transition: opacity 0.3s;
}

.ReactModal__Overlay--after-open {
	opacity: 1;
}

.ReactModal__Overlay--before-close {
	opacity: 0;
}

.close {
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}

.content {
	width: 100%;
	height: 100%;
	text-align: center;

	&__title {
		margin-top: 1rem;
	}

	.form {
		width: 60%;
		margin: 0 auto;

		&__group {
			margin-top: 6.5rem;
		}

		&__input {
			font-size: 1.5rem;
			font-family: inherit;
			color: inherit;
			padding: 1.5rem 2rem;
			background-color: rgba($color-white, 0.5);
			border: none;
			border-bottom: 3px solid transparent;
			width: 100%;
			transition: all 0.3s;

			&:focus {
				outline: none;
				box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
				border-bottom: 3px solid $color-primary;
			}

			&::-webkit-input-placeholder {
				color: $color-white;
			}
		}

		&__label {
			font-size: 1.2rem;
			font-weight: 700;
			margin-left: 2rem;
			margin-top: 0.7rem;
			margin: 0;
			text-align: left;
			display: block;
			transition: all 0.3s;
			transform: translateY(-8rem);
		}

		&__buttonContainer {
			margin-top: 2rem;

			&__btn {
				font-size: 1.7rem;
				font-family: inherit;
				padding: 1.5rem 3.5rem;
				background-color: transparent;
				color: $color-white;
				border: 1px solid $color-primary;
				margin: 0 3rem;
				cursor: pointer;
				transition: all 0.2s;

				&:hover {
					color: $color-white;
					background-color: $color-primary;
				}
			}
		}
	}
}
