.records {
	position: absolute;
	right: -38rem;
	top: 8rem;
	width: 35rem;
	height: 50rem;
	border: 1px solid $color-white;
	padding: 1.5rem;
	text-align: center;
	border-radius: 5px;
	overflow-y: scroll;

	&__title {
		border-bottom: 1px solid $color-primary;
	}

	&__list {
		margin-top: 1rem;

		&__item {
			border-bottom: 1px solid $color-primary;
			margin: 1rem;
		}
	}
}
