.table {
	display: grid;
	grid-template-columns: repeat(5, 1fr);

	&__block {
		width: 10rem;
		height: 10rem;
		border: 1px solid black;
		cursor: pointer;

		&:hover {
			opacity: 0.7;
		}
	}

	&__config {
		position: absolute;
		top: 50%;
		left: -10rem;
		text-align: center;

		& > div {
			margin-bottom: 3rem;
		}

		&__container {
			transform: translateY(-8rem);
			cursor: pointer;

			&__icon {
				transition: all 0.2s;
				font-size: 4rem;
			}

			&:hover &__icon {
				transform: rotate(180deg);
			}
		}
	}
}

.title {
	margin-bottom: 2rem;
	-webkit-animation: glow 3s cubic-bezier(0.83, 0, 0.17, 1) infinite alternate;
	-moz-animation: glow 3s cubic-bezier(0.83, 0, 0.17, 1) infinite alternate;
	animation: glow 3s cubic-bezier(0.83, 0, 0.17, 1) infinite alternate;
}

.recordContainer {
	margin-top: 2rem;
	display: flex;
	justify-content: space-between;
}
